<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>19/06/23 21:12:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;StartBrowser.afterClass()[pri:0, instance:testScripts.TC4_SearchAndAdd_Verification@66a3ffec]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>19/06/23 21:12:00</td>   <td>-55474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartBrowser.beforeClass()[pri:0, instance:testScripts.TC4_SearchAndAdd_Verification@66a3ffec]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1690287238</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>19/06/23 21:12:02</td>   <td>-53096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_SearchAndAdd_Verification.verifySearchAndCart()[pri:0, instance:testScripts.TC4_SearchAndAdd_Verification@66a3ffec]">verifySearchAndCart</td> 
  <td>main@1690287238</td>   <td></td> </tr>
</table>
