<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6e8abd">  <td>19/06/23 20:57:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartBrowser.beforeClass()[pri:0, instance:testScripts.TC2_LoginUser_Verification@77caeb3e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>19/06/23 20:57:59</td>   <td>5337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC2_LoginUser_Verification.loginUser()[pri:0, instance:testScripts.TC2_LoginUser_Verification@77caeb3e]">loginUser</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>19/06/23 20:58:12</td>   <td>18489</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;StartBrowser.afterClass()[pri:0, instance:testScripts.TC2_LoginUser_Verification@77caeb3e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>19/06/23 20:58:12</td>   <td>18733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;StartBrowser.beforeClass()[pri:0, instance:testScripts.TC4_SearchAndAdd_Verification@1e88b3c]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/06/23 20:58:14</td>   <td>20724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC4_SearchAndAdd_Verification.verifySearchAndCart()[pri:0, instance:testScripts.TC4_SearchAndAdd_Verification@1e88b3c]">verifySearchAndCart</td> 
  <td>main@1847509784</td>   <td></td> </tr>
<tr bgcolor="6e8abd">  <td>19/06/23 20:58:24</td>   <td>30832</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;StartBrowser.afterClass()[pri:0, instance:testScripts.TC4_SearchAndAdd_Verification@1e88b3c]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1847509784</td>   <td></td> </tr>
</table>
